body {
    background-color: #7092f7;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    display:grid;
    margin: 0;}

    footer{
        height: 80px;
  display:grid;
  grid-template-columns: 100% 1fr;
  padding-bottom: 10px;
  background-color: #DFE0E2;
  border: 1px solid #A79D8F;
  border-radius: 12px;
    }
    
    .icons{
        list-style-type: none;
    }
    #content{

    }