@media only screen and (min-width: 40em) {
    img {

        float: right;
        border-radius: 10px;
        margin-top: -82px;
        margin-right: 10px;
        box-shadow: 2px 2px 2px rgb(180, 176, 176);
    }
    body {
        padding: 5px 210px;
        font-size: 18px;
        
    }
  
}