[data-src] {
    min-width: 50px;
    min-height: 50px;
  }
  img[data-src] {
    filter: blur(.4em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
    margin-top: 50px;
  } 

.home-flex {
    display:flex;
    flex-direction: column;
}
header {
	background-color:#79446A;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center; 
}

.heading h1 {
    font-size: 1.8em;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



h1{
    width: 100%;
}


body {
    /*display: flex;
    flex: auto;*/
	background-color: #85ACC0;
	font-size: 18px;
    margin: 0 auto;
    max-width: 400px;
}

nav a {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #79446A;
}

nav ul{
    list-style:none;
    text-align: center;
}


.nav_bar li:first-child {
    display: block;
}

.nav_bar li {
	display: none;

}

nav ul li a.active{
    background-color:#475766;
  }

.nav_bar {
   list-style: none;
   text-align: center;
   padding: 0;
  }

 
.nav_bar a {
    display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color:white;
	font-weight: 700;
}
.nav_bar a:hover {
	color: white;
	background-color:black;
}
.responsive li {
	display: block;
}
nav {
	
  background-color: #79446A;
  
}

footer {
    min-width: 100%;
	height:fit-content;
	background-color: #79446A;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.school {
    color: white;
    
}
.source {
    color: black;
}
.message {
    font-style: italic;
}
#copyright {
    font-family: "Helvetica", sans-serif;
  }
  main {
    max-width: 400px;
    margin: auto;
}

.main_location {
    color:black;
    display:flex;
    flex-direction: column;
    height:fit-content;
    
}
.top_part {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.top_part img {
    width: 100%;
    height: 400px;
}

#date {
    padding-top: 6px;
}
#onlyFriday {
    display: none;
    background-color: #ffff00be;
    color: #050547;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
    font-family:"Helvetica", sans-serif;
  }