caption {
    background-color: #7fb9c2;
    font-size: 1.6em;
    font-weight: bold;
    padding: 9px;
    box-shadow: 8px 8px 12px #5e9097;  
  }
  header {
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 6px 0;
  }
body {
    margin: 0 auto;
    background-color: #FFFFFF;
  }
  h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 1.9em;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  tfoot tr td {
  
    text-align: center;
    font-size: .8em;
    padding: 5px;
    background-color: #7fb9c2;
  }
  
  th {

    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    border: solid 1.5px #cdcdcd;
    background-color: #628CA6;
  }
  
  td {
    padding: 5px;
    border: solid 1.5px #cdcdcd;
  }
  
  tr:nth-child(odd) {
    background: #E7F0ED;
  }
  
  tr:nth-child(even) {
    background: #E7FFED;
  }
  
  tr:nth-child(4) td:nth-child(3) {
    color: white;
    background-color: #628CA6;
  }
  tr:nth-child(5) td:nth-child(1) {
    font-style: italic;
  }
  
  #Sales {
    font-family: Ubuntu, sans-serif;
    margin: 0 auto;
    text-align: center;
    border: solid 3px #cdcdcd;
    border-collapse: collapse;
    box-shadow: 9px 9px 12px #5e9097;
  }
  
  
  