@media only screen and (min-width: 60em) {
  
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .cards section {
      display: block;
      width: 325px;
    }
    
    .heading h1 {
          font-size: 3em;
    }
    .nav_bar li {
      padding-right: 20px;
    }
    footer,
    main {
   
      margin: auto;
    }

    
  }  