@media only screen and (min-width: 64em) {
   
	body {
		display: flex;
		flex-direction: column;
	}
	li {
		display: inline-block;
	}
	img {
		display: block;
		float: left;
		width: 128px;
	}
	.nav_bar {
		display: flex;
	}

	.nav_bar li {
		display: block;
		padding-right: 20px;
	}
	.nav_bar a {
		text-align: left;
	}
	.nav_bar li:first-child {
		display: none;
	}
	
}
