@media only screen and (max-width: 639px) {
    body {
        flex-direction: row;
    }
}

img {
    height: 80px;
    width: auto;
}

.home-flex {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #79446A;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: left;
}

.headings {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

header img {
    margin-left: 25px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 30px;
}

p {
    font-family: "Helvetica", sans-serif;
    color: white;

}

.text,
.text2,
.text3 {
    display: block;
    margin: 10px auto;
    background-color: #475766;
    border: 1px dashed;
    padding-bottom: 10px;
    border-collapse: separate;
    border-spacing: 15px 50px;
    padding: 1em;
    color: white;
    font-style: italic;
    margin: 30px;

}

h1 {
    width: 100%;
}

body {
    background-color: #85ACC0;
    font-size: 18px;
    margin: 0 auto;
}

nav a {

    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #79446A;

}

nav ul {
    list-style: none;
    text-align: left;
}


.nav_bar li:first-child {
    display: block;
}

.nav_bar li {
    display: none;
}

nav ul li a.active {
    background-color: #475766;
}

.nav_bar {
    list-style: none;
    text-align: left;
}


.nav_bar a {
    text-align: left;
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.nav_bar a:hover {
    color: white;
    background-color: black;
}

.responsive li {
    display: block;
    scroll-padding-block-end: 3px;
}

nav {
    background-color: #79446A;
}

footer {
    width: 100%;
    background-color: #79446A;
    text-align: center;
    font-family: "Helvetica", sans-serif;

}

.school {
    color: white;

}

.message {
    font-style: italic;
}

#copyright {
    font-family: "Helvetica", sans-serif;
}