@media only screen and (min-width: 60em) {
  body {
    display: flex;
    flex-direction: column;
  }

  li {
    display: inline-block;
  }

  .nav_bar {
    display: flex;
  }

  .nav_bar li {
    display: block;
    padding-right: 20px;
  }

  .nav_bar a {
    text-align: left;
  }

  .nav_bar li:first-child {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards section {
    display: block;
    width: 325px;

  }

  .heading h1 {
    font-size: 3em;
  }

  main {
    width: 80%;
    margin: auto;
  }

}