@media only screen and (min-width: 32.5em) {
 
	/*body {
		display: flex;
	}*/
	.nav_bar {
		display: flex;
	}
	.nav_bar li {
		display: block;
		flex: 1 1 auto;
	}
	.nav_bar a {
		text-align: center;
	}
	.nav_bar li:first-child {
		display: none;
	}
	main {
		max-width: 1000px;
	}
	footer {
		max-width: 1000px;
	}
}
