@media only screen and (max-width: 639px) {
    body {
flex-direction: row;
    }
}
    
     img {
      height: 80px;
      width: auto;
        }
.home-flex {
    display:flex;
    flex-direction: column;
}
header {
	background-color:#79446A;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center; 
}

.headings {
    display:flex;
    flex-direction: column;
    height:fit-content;
}
.heading h1 {
    font-size: 1.8em;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p{
    font-family: "Helvetica", sans-serif;
    color:white;
    
}

h1{
    width: 100%;
}

body {
    /*display: flex;
    flex: auto;*/
	background-color: #85ACC0;
	font-size: 18px;
    margin: 0 auto;
}

nav a {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #79446A;
}

nav ul{
    list-style:none;
    text-align: center;
}


.nav_bar li:first-child {
    display: block;
}

.nav_bar li {
	display: none;
}

nav ul li a.active{
    background-color:#475766;
  }

.nav_bar {
   list-style: none;
   text-align: center;
   padding: 0;
  }

 
.nav_bar a {
    display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color:white;
	font-weight: 700;
}
.nav_bar a:hover {
	color: white;
	background-color:black;
}
.responsive li {
	display: block;
}
nav {
	margin: 0 auto;
  background-color: #79446A;
  border-radius: 15px;
}

footer {
    max-width: 1000px;
	height:fit-content;
	background-color: #79446A;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}
.school {
    color: white;
    
}
.message {
    font-style: italic;
}
#copyright {
    font-family: "Helvetica", sans-serif;
  }
  main {
    max-width: 1000px;
    margin: auto;
}

.article p {
    color: black;
  }

  .article {
	display: block;
	margin-top: 15px;
	padding: 10px;
  border: 1px solid #000;
  color: black;
}

#articlePhoto {
    width: 35%;
    height: 180px;
  }

.contactInfo {
      margin: auto;
      grid-column: 1;
}
.contactInfo h3, .contactInfo h4 {
    text-align: center;
    color: white;
  }

.contact {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:10px;
    border: 1px solid black
}

#weather, #weather2, #weather3, #weather4, #weather5 {
    color: black
    ;
  }

#Days {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    color: white;
}

.forecast {
    display: block;
}

#forecastDay {
    background-color:#475766;
    color: white;
    font-family: "Helvetica", sans-serif;
}

h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h4 {
    text-decoration: underline;
    font-family:"Helvetica", sans-serif;
}

.forecast h3, .article h3 {
    text-align: center;
}
.main_location {
    text-align: center;
    color: #85ACC0;
}
.top_part {
    margin:10px auto;
    position: relative;
}
.top_part img {
    width: 100%;
    height: auto;
}
.summary {
    position: absolute;
    background-color:radial-gradient(#eee, #EDF5E1) ;
    top: 0px;
    border: 1px solid black;
    box-shadow: 0 0 30px black;
    padding: 6px;
    opacity: .9;
}

.summary p {
    color: black;
    font-weight: bolder;
}

#map {
    border: 2px solid black;
    margin: auto;
}

#date {
    padding-top: 6px;
}